 <link rel="stylesheet" href="~/css/feed.css">
 
 <h1>Tela Feed - DevConnect</h1>
    <!-- Inicio header -->
    <header id="cabecalho">
        <nav>
            <a id="logo-desktop" asp-controller="Feed" asp-action="Index">
                <img src="~/Images/logo-devconnect-md.svg" alt="Logo da empresa devcconect">
            </a>

            <a id="logo-mobile" asp-controller="Feed" asp-action="Index">
                <img src="~/Images/logo-devconnect-sm.svg" alt="Logo da empresa devcconect">
            </a>

            <!-- icones -->
            <div class="cabecalho-acoes">

                <a asp-controller="Feed" asp-action="Index">
                    <img src="~/Images/icone-casa-preto.svg" alt="Ícone de uma casa na cor icone-casa-preto">
                </a>
                <a href="#">
                    <img src="~/Images/icone-coracao-preto.svg"
                        alt="Ícone de um coração cor icone-coracao-preto">
                </a>

                <a asp-controller="Usuario" asp-action="Index">
                    <img class="foto-perfil" src="~/Images/4463735193433210232.jpg" alt="Foto de perfil">
                </a>
            </div>

        </nav>
    </header>
    <!-- Fim header -->

    <!-- Inicio main -->
    <main>
        <div class="container-flex-publi">
            <!-- Inicio Storys -->
            <section id="storys" class="estilo-formulario">
                <!-- card story -->
                <article class="card-story">
                    <a href="#">
                        <img src="~/Images/4463735193433210232.jpg" alt="Foto de perfil">
                        <span>2pac_vivo_dos_tiros</span>
                    </a>
                </article>

                <!-- card story -->
                <article class="card-story">
                    <a href="#">
                        <img src="~/Images/4463735193433210232.jpg" alt="Foto de perfil">
                        <span>2pac_vivo_dos_tiros</span>
                    </a>
                </article>

                <!-- card story -->
                <article class="card-story">
                    <a href="#">
                        <img src="~/Images/4463735193433210232.jpg" alt="Foto de perfil">
                        <span>2pac_vivo_dos_tiros</span>
                    </a>
                </article>

                <!-- card story -->
                <article class="card-story">
                    <a href="#">
                        <img src="~/Images/4463735193433210232.jpg" alt="Foto de perfil">
                        <span>2pac_vivo_dos_tiros</span>
                    </a>
                </article>

                <!-- card story -->
                <article class="card-story">
                    <a href="#">
                        <img src="~/Images/4463735193433210232.jpg" alt="Foto de perfil">
                        <span>2pac_vivo_dos_tiros</span>
                    </a>
                </article>

                <!-- card story -->
                <article class="card-story">
                    <a href="#">
                        <img src="~/Images/4463735193433210232.jpg" alt="Foto de perfil">
                        <span>2pac_vivo_dos_tiros</span>
                    </a>
                </article>

                <!-- card story -->
                <article class="card-story">
                    <a href="#">
                        <img src="~/Images/4463735193433210232.jpg" alt="Foto de perfil">
                        <span>2pac_vivo_dos_tiros</span>
                    </a>
                </article>
                <!-- card story -->
                <article class="card-story">
                    <a href="#">
                        <img src="~/Images/4463735193433210232.jpg" alt="Foto de perfil">
                        <span>2pac_vivo_dos_tiros</span>
                    </a>
                </article>

                <!-- card story -->
                <article class="card-story">
                    <a href="#">
                        <img src="~/Images/4463735193433210232.jpg" alt="Foto de perfil">
                        <span>2pac_vivo_dos_tiros</span>
                    </a>
                </article>

                <!-- card story -->
                <article class="card-story">
                    <a href="#">
                        <img src="~/Images/4463735193433210232.jpg" alt="Foto de perfil">
                        <span>2pac_vivo_dos_tiros</span>
                    </a>
                </article>
            </section>
            <!-- Fim Storys -->

            <!-- Inicio Cadastro Publi -->
            <section id="cadastro-publi" class="estilo-formulario">
                <h2>Publicação</h2>

                <form action="">
                    <textarea name="" id="" placeholder="Digite a descrição do post..."></textarea>

                    <footer>
                        <div>
                            <label for="campo-upload" id="texto-upload">Faça upload da sua imagem aqui...</label>
                            <input type="file" name="" id="campo-upload">
                        </div>

                        <button type="submit" class="formulario-botao-azul">Postar</button>


                    </footer>
                </form>


            </section>
            <!-- Fim Cadastro Publi -->

            <section id="publicacoes">
                <!-- Inicio card publicação -->
                <article class="card-publi">
                    <header>
                        <a href="#">
                            <img class="foto-perfil" src="~/Images/4463735193433210232.jpg"
                                alt="Foto de perfil" />
                            2pac_vivo_dos_tiros     
                        </a>
                    </header>

                    <figure>
                        <img class="imagem-publicacao" src="~/Images/images.jpg" alt="">

                        <figcaption class="descricao-publicacao">
                            2pac_vivo_dos_tiros
                            <p>..westside</p>
                        </figcaption>
                        <div class="interacoes-publicacao">
                            <button>
                                <img src="~/Images/icone-coracao-preto.svg" alt="">
                            </button>

                            <button>
                                <img src="~/Images/icone-comentario-preto.svg" alt="">
                            </button>

                            <span>100M curtidas</span>
                        </div>
                        
                        <button type="button">Ver todos os comentários...</button>


                    </figure>



                </article>
                
            </section>

        </div>
    </main>