       <link rel="stylesheet" href="~/css/cadastro.css">
  
  <h1>Tela cadastro - DevConnect</h1>
    <main>
        <div>
            <!-- formulario -->
            <form class="estilo-formulario">
                <img src="~/images/logo-devconnect-lg.svg" alt="Logo DevConnect">

                <p>cadastre-se para comunidade exclusiva de desenvolvedores(as)</p>

                <div class="formulario-campos">
                    <label for="">Nome e Sobrenome:</label>
                    <input type="text" name="" id="">
                </div>

                <div class="formulario-campos">
                    <label for="">Nome do usuário:</label>
                    <input type="text" name="" id="">
                </div>

                <div class="formulario-campos">
                    <label for="">E-mail:</label>
                    <input type="email" name="" id="">
                </div>

                <div class="formulario-campos">
                    <label for="">Senha:</label>
                    <input type="password" name="" id="">
                </div>
                <div id="upload">
                    <label for="campo-upload"> Faça upload da sua Imagem aqui... </label>
                    <input type="file" name="" id="campo-upload" accept="image/*">
                   
                </div>

                <button type="submit" class="formulario-botao-azul">Cadastre-se</button>
                
                <p>Ao se cadastrar, voce concorda com nossos, Termos, Politica de dados e politica de cookie</p>

            </form>

            <section id="secao-cadastro" class="estilo-formulario">
                <p>Tem uma conta? <a asp-controller="cadastro" asp-action="Login">Connecte-se</a></p>
            </section>


    </main>