main {
    /* background-color: cadetblue; */
    min-height: 100vh;
    width: 100%;

    display: flex;
    justify-content: center;
    margin-top: 20px;
    background-color: #434245;
}

.container-flex-publi {
    background-color: rgb(255, 255, 255);
    width: 90%;
    max-width: 900px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#storys {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    gap: 30px;
    overflow-x: scroll;
    /*poe scroll no eixo x*/
}

#storys::-webkit-scrollbar {
    width: 0;
}

.card-story {
    /* width: 100%;
    max-width: 100px; */
    /* background-color: coral; */
}

.card-story>a {
    /* background-color: crimson; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    text-decoration: none;
}

.card-story>a>img {
    border-radius: 50%;
    width: 80px;
    height: 80px;
    object-fit: cover;
    object-position: center;
}

.card-story>a>span {
    color: var(--cor-preto);
    font-size: var(--tamanho-fonte-sm);
    text-transform: lowercase;
}

/* seção criar publi */
#cadastro-publi {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 3%;
}

#cadastro-publi>h2 {
    font-size: var(--tamanho-fonte-lg);
    color: var(--cor-cinza-escuro3);
    font-weight: 700;
}

#cadastro-publi>form {
    width: 100%;
}

#cadastro-publi>form>textarea {
    width: 100% ;
    height: 80px ;
    background-color: var(--cor-cinza-claro);
    resize: none;
    /*Desabilita a opçao de redimensionar*/
    padding: 10px;
    color: var(--cor-cinza-escuro2);
    font-size: var(--tamanho-fonte-sm);
    border: var(--borda); 
}

#cadastro-publi>form>textarea::placeholder {
    color: var(--cor-cinza-medio);
}

#cadastro-publi>form>footer {
    display: flex;   
    justify-content: flex-end;
    align-items: center;            
    gap: 15px;

    margin-top: 30px;
}

.formulario-botao-azul {
    width: 100%;
    max-width: 135px;
    background-color: #2C666E;

}

/* seção publicações */
#publicacoes {
    background-color: rgb(255, 255, 255);
    width: 100%;
   
}

.card-publi {
    width: 100%;
   
    background-color: var(--cor-branca);
}

.card-publi>header {
    display: flex;
    align-items: center;
    padding: 3%;
}

.card-publi>header>a {
    display: flex;  
    align-items: center;
    gap: 10px;
    text-decoration: none;
    color: var(--cor-preto);
    font-weight: 500;
    border-radius: 50%;
}

.imagem-publicacao {
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 346px;
}

.card-publi>figure>figcaption {
  color: var(--cor-preto);
  font-size: var(--tamanho-fonte-md);
  font-weight: 500;
}   
.descricao-publicacao {
    display: flex;
    align-items: center;
    column-gap: 5px;
    font-size: var(--tamanho-fonte-md);
    font-weight: 500;
    margin: 15px;
    order: 2;
    
}

.card-publi>figure {    
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.card-publi>figure>button{
    background-color: transparent;
    border: none;
    color: var(--cor-cinza-escuro2);
    order: 3;
    margin-left: 15px;

}

.interacoes-publicacao {
    background-color: rgb(255, 255, 255);
    width: 87px;
    justify-content: space-between;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    order: 1;
    margin: 15px 3%;
}

.interacoes-publicacao>button {
    border: none;
    background-color: transparent;
    
  
}

.interacoes-publicacao>span {
    font-size: var(--tamanho-fonte-sm);
    font-weight: 500;
    color: var(--cor-preto);
    background-color: transparent;
}

.card-publi>button {
    margin: 15px 3%;
}








