/* @import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap'); */

:root {
    --cor-preto: #000000;
    --cor-azul: #2686cc;
    --cor-branca: #ffffff;
    --cor-cinza-escuro1: #b6b6b6;
    --cor-cinza-escuro2: #4D4D4D;
    --cor-cinza-escuro3: #7D7D7D;
    --cor-cinza-escuro4: #D1D1D1;
    --cor-cinza-medio: #e5e5e5;
    --cor-cinza-claro: #fafafa;
  
    --borda: 1px solid var(--cor-cinza-medio);
    --borda-arredondada: 2px;
  
    --tamanho-fonte-lg: 20px;
    --tamanho-fonte-md: 16px;
    --tamanho-fonte-sm: 14px;
  
  }
  
  @font-face {
    font-family: Billabong;
    src: url(../fonts/Billabong/billabong.ttf),
        url(../fonts/Billabong/billabong_regular.otf);
  }
  
  
  /* SELETOR GLOBAL */
  * {
    font-family: "Segoe UI", sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* o valor total do tamanho do elemento conta tanto com espaços interno/externo e as bordas*/
    outline-color: var(--cor-azul);
  }
  
  body {
    /* background-color: var(--cor-cinza-escuro3); */
  } 
  
  h1 {
    position: absolute;
    /*altera a posição do elemento*/
    z-index: -1;
    /*camadas do elemento*/
    opacity: 0;
  }
  
  /* formulario */
  .estilo-formulario {
    border: var(--borda);
    width: 100%;
    background-color: var(--cor-branca);
  }
  
  input {
    width: 100%;
    height: 35px;
    border: var(--borda);
    background-color: var(--cor-cinza-claro);
  }
  
  .formulario-botao-azul {
    background-color: var(--cor-azul);
    border-radius: var(--borda-arredondada);
    /*Arredonda os cantos dos elementos*/
    border: none;
    /*Removendo a borda*/
    height: 35px;
  
    color: var(--cor-branca);
    font-size: var(--tamanho-fonte-sm);
    font-weight: 600;
  }
  
  #campo-upload {
    display: none;
  }
  
  #texto-upload {
    display: inline-block;
    width: 100%;
    max-width: 300px;
    min-height: 35px;
    padding: 5px;
    background-color: var(--cor-cinza-escuro4);
    color: var(--cor-cinza-escuro3);
    text-align: center;
    font-weight: 600;
    border-radius: var(--borda-arredondada);
  }
  
  /* cabeçalho */
  #cabecalho {
    width: 100%;
    /*100% da janela de visualização*/
    height: 80px;
    background-color: var(--cor-branca);
    display: flex;
    justify-content: center;
    /* align-items: center; */
    border-bottom: var(--borda);
  }
  
  #cabecalho>nav {
    width: 85%;
    max-width: 1440px;
    height: 100%;
  
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  #logo-mobile {
    display: none;
    /*remove a exibição da imagem*/
  }
  
  .cabecalho-acoes {
    display: flex;
    align-items: center;
    gap: 15px;
  }
  
  .cabecalho-acoes>a {
    display: flex;
    align-items: center;
  }
  
  .foto-perfil {
    width: 40px;
    height: 40px;
    object-fit: cover;
    /*redimensiona a foto*/
    object-position: center;
    border-radius: 50%;
  }
  
  
  
  /* RESPONSIVO */
  @media only screen and (max-width: 485px) {
    #logo-mobile {
        display: initial;
     
    }
  
    #logo-desktop {
        display: none;
    }
    .card-publi {
        width: 90%;
    }
    
      #foto-de-perfil {
        flex-direction: column;
        text-align: center;
      }
    
      .info-conta {
        font-size: 14px; 
        gap: 50px; 
       
      }
    
      .publicacao {
        margin: 10px;
        font-size: 14px;
      }
    }
    
  
  
  
  
      